@import "partials/variables";

/*--- 1. Google Font ---*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@media (max-width: 1199.98px) {
    %top-icon {
        font-size: 1.4rem;
        color: $primary-color;
        background: transparent;
        padding: 0.5rem;
        border-radius: 5rem;
        margin-right: 1rem;
        vertical-align: middle;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        &:hover {
            background: $secondary-color;
            color: $primary-color;
        }
    }
    // Responsive Navbar
    .hamburger {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        margin: 2.8rem 0;
        cursor: pointer;
        border: 3px solid transparent;
        float: right;
        &:focus {
            border: 3px solid transparent;
        }
    }
    .header-top {
        .topbar-support {
            display: flex;
            justify-content: flex-start;
            p a i::before {
                @extend %top-icon;
            }
        }
    }
    .header-area .main-nav ul li a {
        color: $tertiary-color;
        padding: 0;
    }
    .header-area .main-nav ul li a.active {
        color: $primary-color;
    }
    .main-nav ul>li a:hover {
        background: transparent;
        color: $secondary-color;
    }
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 25rem;
        padding: 2rem 1.5rem;
        z-index: 99999;
        height: 100%;
        overflow: auto;
        background: $primary-color;
        transform: translateX(-250px);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
    }
    .main-nav>ul>li.has-child-menu:after {
        display: none !important;
    }
    .hamburger span {
        width: 100%;
        height: 3px;
        background: $primary-color;
        display: block;
        position: absolute;
        right: 0;
        transition: all 0.3s;
    }
    .hamburger span.h-top {
        top: 0;
    }
    .hamburger span.h-bottom {
        bottom: 0.2rem;
        width: 27px;
    }
    .hamburger span.h-middle {
        top: 50%;
        margin-top: -0.3rem;
        width: 25px;
    }
    .hamburger.h-active span {
        width: 80%;
    }
    .hamburger.h-active span.h-top {
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px;
    }
    .hamburger.h-active span.h-middle {
        transform: translateX(-30px);
        opacity: 0;
    }
    .hamburger.h-active span.h-bottom {
        transform: rotate(-45deg);
        bottom: 50%;
        margin-bottom: -1px;
    }
    .main-nav.slidenav {
        transform: translateX(0)
    }
    .main-nav>ul {
        float: none;
        padding: 25px 10px;
        margin-top: 5rem;
    }
    .main-nav>ul>li.has-child-menu:after {
        content: none;
    }
    .main-nav>ul>li>a:after {
        content: none;
    }
    .main-nav>ul>li {
        display: block;
        padding: 0;
        margin-left: 0
    }
    .header-area .main-nav ul li {
        display: block;
        position: relative;
        padding: 0 2rem;
    }
    // .main-nav>ul>li a {
    //     font-size: 16px;
    //     color: #fff;
    //     line-height: 35px;
    //     margin: 10px 0;
    // }
    .main-nav ul li .fl {
        display: block;
        line-height: 35px
    }
    .main-nav ul li .sub-menu {
        position: static;
        min-width: 200px;
        background: transparent;
        border: none;
        opacity: 1;
        visibility: visible;
        box-shadow: none;
        transform: none;
        transition: none;
        display: none
    }
    .header-area .main-navbar .main-nav ul li>ul.sub-menu>li>a {
        display: block;
        padding: 0.5rem 0;
        color: $tertiary-color;
        border: none;
        line-height: 0.8;
        font-size: 1.5rem;
        text-decoration: none;
        transition: $transition_3s;
        margin-left: 1.5rem;
    }
    .header-area .main-nav ul li .sub-menu>li>a.active {
        color: $secondary-color;
        font-weight: normal;
        font-size: 1.5rem;
    }
    .header-area .main-nav ul li a,
    .header-area .main-navbar .main-nav ul li>ul.sub-menu>li>a {
        display: block;
        color: $tertiary-color;
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: capitalize;
        text-decoration: none;
        font-family: "Rubik", sans-serif;
        transition: $transition_3s;
        padding: 0.75rem 0;
        position: relative;
        cursor: pointer;
    }
}

@media (max-width: 991.98px) {
    .footer-area {
        .footer-wrapper {
            .widget-area {
                // @extend %widget-area-last-cild;
            }
        }
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    // %widget-area-last-cild {
    //     margin: 5rem 0;
    // }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-xs-12 {
        flex: 0 0 100%;
    }
    .col-xs-11 {
        flex: 0 0 calc(100% / 12 * 11);
        /* 11/12 */
    }
    .col-xs-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-xs-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-xs-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-xs-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-xs-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-xs-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-xs-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-xs-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-xs-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-xs-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    // .footer-area .footer-wrapper .contact-info {
    //     @extend %widget-area-last-cild;
    // }
}

@media (max-width: 767.98px) {}