@charset "UTF-8";
@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?163de081153bcd8d99e0b8cd8ab67dd0") format("truetype"), url("./flaticon.woff?163de081153bcd8d99e0b8cd8ab67dd0") format("woff"), url("./flaticon.woff2?163de081153bcd8d99e0b8cd8ab67dd0") format("woff2"), url("./flaticon.eot?163de081153bcd8d99e0b8cd8ab67dd0#iefix") format("embedded-opentype"), url("./flaticon.svg?163de081153bcd8d99e0b8cd8ab67dd0#flaticon") format("svg");
}
i[class^=flaticon-]:before, i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-message:before {
  content: "";
}

.flaticon-right-arrow:before {
  content: "";
}

.flaticon-double-checking:before {
  content: "";
}

.flaticon-half-tiny-star:before {
  content: "";
}

.flaticon-arrow-pointing-to-right:before {
  content: "";
}

.flaticon-tick:before {
  content: "";
}

.flaticon-star:before {
  content: "";
}

.flaticon-right-quote-sign:before {
  content: "";
}

.flaticon-plus-sign:before {
  content: "";
}

.flaticon-twitter:before {
  content: "";
}

.flaticon-facebook:before {
  content: "";
}

.flaticon-linkedin-letters:before {
  content: "";
}

.flaticon-instagram:before {
  content: "";
}

.flaticon-whatsapp:before {
  content: "";
}

.flaticon-previous:before {
  content: "";
}

.flaticon-next:before {
  content: "";
}

.flaticon-calendar:before {
  content: "";
}

.flaticon-double-right-arrows-angles:before {
  content: "";
}

.flaticon-atom:before {
  content: "";
}

.flaticon-addon:before {
  content: "";
}

.flaticon-wordpress-circular-logo:before {
  content: "";
}

.flaticon-html-5-logotype:before {
  content: "";
}

.flaticon-vector:before {
  content: "";
}

.flaticon-megaphone:before {
  content: "";
}

.flaticon-mechanical-gears:before {
  content: "";
}

.flaticon-responsive-webpage:before {
  content: "";
}

.flaticon-setting-tools:before {
  content: "";
}

.flaticon-trusted:before {
  content: "";
}

.flaticon-time-control-tool:before {
  content: "";
}

.flaticon-file:before {
  content: "";
}

.flaticon-solution:before {
  content: "";
}

.flaticon-close-eyes:before {
  content: "";
}

.flaticon-view:before {
  content: "";
}