$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?a0e9e4e97b216399b6595c6e421dca50") format("truetype"),
url("./flaticon.woff?a0e9e4e97b216399b6595c6e421dca50") format("woff"),
url("./flaticon.woff2?a0e9e4e97b216399b6595c6e421dca50") format("woff2"),
url("./flaticon.eot?a0e9e4e97b216399b6595c6e421dca50#iefix") format("embedded-opentype"),
url("./flaticon.svg?a0e9e4e97b216399b6595c6e421dca50#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "add": "\f101",
    "analytics": "\f102",
    "analyze": "\f103",
    "arrow-angle-pointing-to-right": "\f104",
    "arrow-pointing-to-right": "\f105",
    "back-left-arrow-circular-button-outline": "\f106",
    "black-back-closed-envelope-shape": "\f107",
    "call": "\f108",
    "clipboard": "\f109",
    "code-1": "\f10a",
    "code": "\f10b",
    "coding": "\f10c",
    "computer-1": "\f10d",
    "computer": "\f10e",
    "double-checking": "\f10f",
    "down-arrow": "\f110",
    "facebook": "\f111",
    "half-tiny-star": "\f112",
    "headphones": "\f113",
    "hosting": "\f114",
    "instagram": "\f115",
    "launch-1": "\f116",
    "launch": "\f117",
    "left-arrow": "\f118",
    "linkedin-letters": "\f119",
    "maps-and-flags": "\f11a",
    "message-1": "\f11b",
    "message": "\f11c",
    "monitoring": "\f11d",
    "next": "\f11e",
    "optimization": "\f11f",
    "phone-call": "\f120",
    "planning": "\f121",
    "plus-sign": "\f122",
    "previous": "\f123",
    "rate": "\f124",
    "responsive": "\f125",
    "right-arrow-circular-button-outline": "\f126",
    "right-arrow": "\f127",
    "right-quote-sign": "\f128",
    "rocket": "\f129",
    "satisfied": "\f12a",
    "searching-magnifying-glass": "\f12b",
    "shopping-list": "\f12c",
    "star": "\f12d",
    "tick": "\f12e",
    "trophy": "\f12f",
    "twitter": "\f130",
    "user-experience": "\f131",
    "web-design": "\f132",
    "web-programming": "\f133",
    "website-1": "\f134",
    "website-2": "\f135",
    "website-content": "\f136",
    "website": "\f137",
    "whatsapp": "\f138",
);

.flaticon-add:before {
    content: map-get($flaticon-map, "add");
}
.flaticon-analytics:before {
    content: map-get($flaticon-map, "analytics");
}
.flaticon-analyze:before {
    content: map-get($flaticon-map, "analyze");
}
.flaticon-arrow-angle-pointing-to-right:before {
    content: map-get($flaticon-map, "arrow-angle-pointing-to-right");
}
.flaticon-arrow-pointing-to-right:before {
    content: map-get($flaticon-map, "arrow-pointing-to-right");
}
.flaticon-back-left-arrow-circular-button-outline:before {
    content: map-get($flaticon-map, "back-left-arrow-circular-button-outline");
}
.flaticon-black-back-closed-envelope-shape:before {
    content: map-get($flaticon-map, "black-back-closed-envelope-shape");
}
.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-clipboard:before {
    content: map-get($flaticon-map, "clipboard");
}
.flaticon-code-1:before {
    content: map-get($flaticon-map, "code-1");
}
.flaticon-code:before {
    content: map-get($flaticon-map, "code");
}
.flaticon-coding:before {
    content: map-get($flaticon-map, "coding");
}
.flaticon-computer-1:before {
    content: map-get($flaticon-map, "computer-1");
}
.flaticon-computer:before {
    content: map-get($flaticon-map, "computer");
}
.flaticon-double-checking:before {
    content: map-get($flaticon-map, "double-checking");
}
.flaticon-down-arrow:before {
    content: map-get($flaticon-map, "down-arrow");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-half-tiny-star:before {
    content: map-get($flaticon-map, "half-tiny-star");
}
.flaticon-headphones:before {
    content: map-get($flaticon-map, "headphones");
}
.flaticon-hosting:before {
    content: map-get($flaticon-map, "hosting");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-launch-1:before {
    content: map-get($flaticon-map, "launch-1");
}
.flaticon-launch:before {
    content: map-get($flaticon-map, "launch");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-linkedin-letters:before {
    content: map-get($flaticon-map, "linkedin-letters");
}
.flaticon-maps-and-flags:before {
    content: map-get($flaticon-map, "maps-and-flags");
}
.flaticon-message-1:before {
    content: map-get($flaticon-map, "message-1");
}
.flaticon-message:before {
    content: map-get($flaticon-map, "message");
}
.flaticon-monitoring:before {
    content: map-get($flaticon-map, "monitoring");
}
.flaticon-next:before {
    content: map-get($flaticon-map, "next");
}
.flaticon-optimization:before {
    content: map-get($flaticon-map, "optimization");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-planning:before {
    content: map-get($flaticon-map, "planning");
}
.flaticon-plus-sign:before {
    content: map-get($flaticon-map, "plus-sign");
}
.flaticon-previous:before {
    content: map-get($flaticon-map, "previous");
}
.flaticon-rate:before {
    content: map-get($flaticon-map, "rate");
}
.flaticon-responsive:before {
    content: map-get($flaticon-map, "responsive");
}
.flaticon-right-arrow-circular-button-outline:before {
    content: map-get($flaticon-map, "right-arrow-circular-button-outline");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-right-quote-sign:before {
    content: map-get($flaticon-map, "right-quote-sign");
}
.flaticon-rocket:before {
    content: map-get($flaticon-map, "rocket");
}
.flaticon-satisfied:before {
    content: map-get($flaticon-map, "satisfied");
}
.flaticon-searching-magnifying-glass:before {
    content: map-get($flaticon-map, "searching-magnifying-glass");
}
.flaticon-shopping-list:before {
    content: map-get($flaticon-map, "shopping-list");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-tick:before {
    content: map-get($flaticon-map, "tick");
}
.flaticon-trophy:before {
    content: map-get($flaticon-map, "trophy");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-user-experience:before {
    content: map-get($flaticon-map, "user-experience");
}
.flaticon-web-design:before {
    content: map-get($flaticon-map, "web-design");
}
.flaticon-web-programming:before {
    content: map-get($flaticon-map, "web-programming");
}
.flaticon-website-1:before {
    content: map-get($flaticon-map, "website-1");
}
.flaticon-website-2:before {
    content: map-get($flaticon-map, "website-2");
}
.flaticon-website-content:before {
    content: map-get($flaticon-map, "website-content");
}
.flaticon-website:before {
    content: map-get($flaticon-map, "website");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
