$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?163de081153bcd8d99e0b8cd8ab67dd0") format("truetype"),
url("./flaticon.woff?163de081153bcd8d99e0b8cd8ab67dd0") format("woff"),
url("./flaticon.woff2?163de081153bcd8d99e0b8cd8ab67dd0") format("woff2"),
url("./flaticon.eot?163de081153bcd8d99e0b8cd8ab67dd0#iefix") format("embedded-opentype"),
url("./flaticon.svg?163de081153bcd8d99e0b8cd8ab67dd0#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "message": "\f101",
    "right-arrow": "\f102",
    "double-checking": "\f103",
    "half-tiny-star": "\f104",
    "arrow-pointing-to-right": "\f105",
    "tick": "\f106",
    "star": "\f107",
    "right-quote-sign": "\f108",
    "plus-sign": "\f109",
    "twitter": "\f10a",
    "facebook": "\f10b",
    "linkedin-letters": "\f10c",
    "instagram": "\f10d",
    "whatsapp": "\f10e",
    "previous": "\f10f",
    "next": "\f110",
    "calendar": "\f111",
    "double-right-arrows-angles": "\f112",
    "atom": "\f113",
    "addon": "\f114",
    "wordpress-circular-logo": "\f115",
    "html-5-logotype": "\f116",
    "vector": "\f117",
    "megaphone": "\f118",
    "mechanical-gears": "\f119",
    "responsive-webpage": "\f11a",
    "setting-tools": "\f11b",
    "trusted": "\f11c",
    "time-control-tool": "\f11d",
    "file": "\f11e",
    "solution": "\f11f",
    "close-eyes": "\f120",
    "view": "\f121",
);

.flaticon-message:before {
    content: map-get($flaticon-map, "message");
}
.flaticon-right-arrow:before {
    content: map-get($flaticon-map, "right-arrow");
}
.flaticon-double-checking:before {
    content: map-get($flaticon-map, "double-checking");
}
.flaticon-half-tiny-star:before {
    content: map-get($flaticon-map, "half-tiny-star");
}
.flaticon-arrow-pointing-to-right:before {
    content: map-get($flaticon-map, "arrow-pointing-to-right");
}
.flaticon-tick:before {
    content: map-get($flaticon-map, "tick");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-right-quote-sign:before {
    content: map-get($flaticon-map, "right-quote-sign");
}
.flaticon-plus-sign:before {
    content: map-get($flaticon-map, "plus-sign");
}
.flaticon-twitter:before {
    content: map-get($flaticon-map, "twitter");
}
.flaticon-facebook:before {
    content: map-get($flaticon-map, "facebook");
}
.flaticon-linkedin-letters:before {
    content: map-get($flaticon-map, "linkedin-letters");
}
.flaticon-instagram:before {
    content: map-get($flaticon-map, "instagram");
}
.flaticon-whatsapp:before {
    content: map-get($flaticon-map, "whatsapp");
}
.flaticon-previous:before {
    content: map-get($flaticon-map, "previous");
}
.flaticon-next:before {
    content: map-get($flaticon-map, "next");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-double-right-arrows-angles:before {
    content: map-get($flaticon-map, "double-right-arrows-angles");
}
.flaticon-atom:before {
    content: map-get($flaticon-map, "atom");
}
.flaticon-addon:before {
    content: map-get($flaticon-map, "addon");
}
.flaticon-wordpress-circular-logo:before {
    content: map-get($flaticon-map, "wordpress-circular-logo");
}
.flaticon-html-5-logotype:before {
    content: map-get($flaticon-map, "html-5-logotype");
}
.flaticon-vector:before {
    content: map-get($flaticon-map, "vector");
}
.flaticon-megaphone:before {
    content: map-get($flaticon-map, "megaphone");
}
.flaticon-mechanical-gears:before {
    content: map-get($flaticon-map, "mechanical-gears");
}
.flaticon-responsive-webpage:before {
    content: map-get($flaticon-map, "responsive-webpage");
}
.flaticon-setting-tools:before {
    content: map-get($flaticon-map, "setting-tools");
}
.flaticon-trusted:before {
    content: map-get($flaticon-map, "trusted");
}
.flaticon-time-control-tool:before {
    content: map-get($flaticon-map, "time-control-tool");
}
.flaticon-file:before {
    content: map-get($flaticon-map, "file");
}
.flaticon-solution:before {
    content: map-get($flaticon-map, "solution");
}
.flaticon-close-eyes:before {
    content: map-get($flaticon-map, "close-eyes");
}
.flaticon-view:before {
    content: map-get($flaticon-map, "view");
}
