@import "./variables";
@import "./classes";
a.search-btn {
    &::after {
        display: none;
    }
    &:hover {
        i:before {
            color: $secondary-color;
        }
    }
    i:before {
        font-size: 1.8rem;
        font-weight: 500;
        color: $tertiary-color;
        vertical-align: middle;
        transition: $transition_3s;
    }
}

.searchbox.searchbox-open {
    width: 50rem;
    height: 5rem;
    position: absolute;
    top: 4.1rem;
    right: 0;
    opacity: 1;
    z-index: 9;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    input[type="search"] {
        outline: none;
        font-size: 1.5rem;
        font-weight: 600;
        color: $primary-color;
        top: 10px;
        right: 0;
        outline: none;
        background: $tertiary-color;
        width: 100%;
        height: 100%;
        padding: 1rem 0 1rem 1.5rem;
        border-radius: none;
    }
    input {
        outline: none;
        border-radius: none;
        border-bottom: 1px solid $secondary-color;
        border-left: 3px solid $secondary-color;
    }
}

.searchbox-submit {
    padding: 0 1.8rem;
    height: 100%;
    overflow: hidden;
    background: $secondary-color;
    border: none;
    i:before {
        font-size: 2rem;
        color: $tertiary-color;
        font-weight: 400;
    }
}

.searchbox {
    opacity: 0;
    position: absolute;
    width: 0%;
    right: 5px;
    left: auto;
    overflow: hidden;
    transition: width 0.3s;
}

.input-group-prepend {
    margin-right: 0 !important;
    background: $secondary-color;
}